body{
    background-color: rgb(124, 211, 90);
    user-select: none;
    margin: 80px 500px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background: black;
    color: rgb(189, 162, 123);
    padding: 4px;
    max-width: 360px;
    border-radius: 5px;
}
.item{
    background-color: rgb(12, 12, 34);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}
form{
    max-width: 100%;
}
input{
    width: 100%;
    height: 70px;
    border: none;
    font-size: 30px;
    text-align: right;
}
.input{
    grid-column: 1/-1;
    padding: 0;
}
.clean{
    grid-column: 1/3;
    background-color: rgb(116, 61, 61);
}
.back{
    grid-column: 3/-1;
}
.equal{
    grid-column: 4;
    grid-row: 6/8;
    background: rgb(0, 102, 102);
}
.zero{
    grid-column: 1/3;
}